.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header {
  background-color: #003f62;
  padding: 30px;
}

.Header > img {
  width: auto;
}
.outer {
  width: 1920px;
}

.search {
  width: 500px;
  height: 56px;
  border: none;
  outline: none;
  padding: 0 35px;
  border-radius: 15px;
}
.search-bar {
  position: relative;
  left: -60px;
  width: 140px;
  color: #fff;
  height: 57px;
  border-radius: 15px 15px 15px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #eda415;
}
.navbg {
  background-color: #f4f4f4;
}
a {
  text-decoration: none;
}
.cards {
  height: 200px;
  width: 400px;
  margin-left: 150px;
}
.para {
  color: #1b5a7d;
}
.right_side {
  width: 50%;
}
.left_side {
  width: 50%;
}
h2 {
  color: #1b5a7d;
}

.popular_cards {
  width: 350px;
}
.sale {
  color: #2e8fc5;
}
.bgimg {
  position: absolute;
  width: 95%;
  object-fit: cover;
}
.rightside {
  position: relative;
  top: 150px;
  margin-left: 600px;
}
.popularcards {
  color: #003f62;
}

.rating {
  margin-top: -25px;
  padding-bottom: 15px;
}
.cards {
  margin-top: 500px;
  height: auto;
}

.smallCards {
  width: 50%;
}

.addition {
  background-color: #e2f4ff;
  width: 95%;
  margin-left: 45px;
}
.text {
  line-height: 10px;
}
.titles {
  color: #003f62;
}

.price {
  font-weight: 600;
}
.details {
  width: 50%;
}
