.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003f62;
  padding: 25px 118px;
  font-size: 14px;
  width: auto;
  margin: 0 auto;
}

.navbar {
  gap: 33.09px;
}

.Header {
  background-color: #003f62;
  padding: 30px;
}

select {
  background-color: #eda415;
  color: white;
  border: none;
  width: 218px;
  height: 70px;
  padding: 23px 14px;
  font-size: 50px;
  font-weight: 600;
}
.Header > img {
  width: auto;
}
.outer {
  width: 1920px;
}
.navbar_space {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
.cards {
  height: 200px;
  width: 400px;
  margin-left: 150px;
}
.para {
  color: #1b5a7d;
}
.right_side {
  width: 30%;
}
.left_side {
  width: 70%;
}
h2 {
  color: #1b5a7d;
}

.popular_cards {
  width: 350px;
}
.title {
  color: #1b5a7d;
}
.sale {
  color: #2e8fc5;
}
.bgimg {
  position: absolute;
  width: 95%;
  object-fit: cover;
}
.rightside {
  position: relative;
  top: 150px;
  margin-left: 600px;
}
.popularcards {
  color: #003f62;
}

.rating {
  margin-top: -25px;
  padding-bottom: 15px;
}
.cards {
  margin-top: 500px;
  height: auto;
}

.smallCards {
  width: 50%;
}

.addition {
  background-color: #e2f4ff;
  width: 95%;
  margin-left: 45px;
}
.text {
  line-height: 10px;
}
.titles {
  color: #003f62;
}

.price {
  font-weight: 600;
}
.details {
  width: 50%;
}
.bordered_img {
  border: 2px dashed #eda415;
  border-radius: 60%;
  padding: 5px;
}
.text {
  margin-left: 50px;
  background: #e2f4ff;
  width: auto;
}
.name {
  color: #003f62;
}
.brands {
  background: #e2f4ff;
  width: 95%;
  margin-left: 50px;
}
.date-btn {
  color: #1b5a7d;
  font-size: 21px;
  padding: 5px;
}
.txt,
.maker {
  color: #003f62;
}
.header {
  font-weight: 600;
}
.out {
  margin: auto;
}
h4 {
  color: #1b5a7d;
}
.footer_bg {
  background: #e2f4ff;
}
.inner {
  background: #fff;
}
.return {
  color: #003f62;
  font-size: 24px;
  font-weight: 600;
}
.news-sec {
  margin: 0 auto;
  width: 85%;
}
.phone_num {
  color: #606060;
  text-align: start;
}
.send_btn {
  background: #eda415;
  width: 500px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.logosec {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list {
  margin: 0 auto;
}
li > a {
  text-decoration: none;
  color: #1b5a7d;
  font-size: 20px;
  font-weight: 400;
}
ul,
li {
  color: #d9d9d9;
  margin-top: 10px;
  text-align: start;
  margin-left: 15px;
}
.address {
  color: #1b5a7d;
}
ul,
li {
  line-height: 24.57px;
}
.memberstxt {
  color: #003f62;
}
.price {
  color: #4a4a4a;
}
.detail-cont {
  display: flex;
  margin: 0 auto;
}
.left-side {
  width: auto;
  margin: 0 auto;
}
.right-side {
  margin: 0 auto;
}
.color-sec {
  background-color: #d0ec48;
  color: #d0ec48;
  width: 25px;
  height: auto;
  border-radius: 50%;
}
.dark-color {
  background-color: #565656;
  color: #565656;
  width: 25px;
  height: auto;
  border-radius: 50%;
}
